{% extends 'base.html' %}

{% block page_title %}
room lists
{% endblock page_title %}

{% block content %}

<div class="container mx-auto pb-10">

    <div class='rounded-xl bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center -mx-40'
        style='background-image:url(https://images.unsplash.com/photo-1570192107423-6f700661172d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)'>
    </div>

    <div class='flex flex-wrap -mx-40 mb-10'>
        {% for room in rooms %}
        {% include 'partials/room_card.html' with room=room %}
        {% endfor %}
    </div>

    <div class='flex items-center justify-center mx-auto container'>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
        {% else %}
        <i class="fas fa-arrow-left fa-lg"></i>
        {% endif %}

        <span class="mx-3 font-medium text-lg">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
        {% else %}
        <i class="fas fa-arrow-right fa-lg"></i>
        {% endif %}
    </div class='items-center'>

</div>

{% endblock content %}



<!-- contents of page -->

<!-- manual or django.paginator method -->
<!-- {% for room in pages.object_list  %}
<h1>{{room.name}} / ${{room.price}}</h1>
{% endfor %} -->

<!-- django.listview method -->




<!-- prev/next pagination -->

<!-- ##### (fbv : funtion based view) -->
<!-- manual method -->
<!-- <h5>
        {% if page is not 1 %}
        <a href="?page={{page|add:-1}}">Previous</a>
        {% endif %}

        Page {{rooms.number}} of {{rooms.num_pages}}

        {% if not page == page_count %}
        <a href="?page={{page|add:1}}">Next</a>
        {% endif %}
    </h5> -->
<!-- django.paginator method -->
<!-- <h5>
    {% if pages.has_previous %}
    <a href='?page={{pages.previous_page_number}}'>Previous</a>
    {% endif %}
    Page {{pages.number}} of {{pages.paginator.num_pages}}
    {% if pages.has_next %}
    <a href='?page={{pages.next_page_number}}'>Next</a>
    {% endif %}
</h5> -->

<!-- ##### (ccv : class based view) -->
<!-- django.listview method -->

<!-- all numbering pagination -->

<!-- manual method -->
<!-- {% for page in page_range %}
    <a href="?page={{page}}">{{page}}</a>
    {% endfor %} -->

<!-- django.paginator method -->
<!-- {% for page in rooms.paginator.page_range %}
        {{page}} 
    {% endfor %} -->